<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.danielbarr.gamecollection" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/game_vault"
        android:label= "@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".Uitilites.GameApplication"
         >
        <activity
            android:name=".Activities.Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Old.GameListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".Old.EditGameActivity" android:parentActivityName=".Old.GameListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".Old.GameListActivity"/>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ea657ed0796ad2f01315b587b754b2bfb23266c3"
            />
    </application>
</manifest>
